books show(/books/book_id)
<!--左側ページ-->
<!--テンプレートファイルを呼び出す-->
 <%= render 'list', user:@user %>

<!--右側ページ-->
<h1>Books</h1>
<p><%= image_tag @user.get_profile_image(100,100) %></p>
<p><%= @user.name %></p>
<h2>title</h2>
<p><%= @book.title %></p>

<h2>body</h2>
<p><%= @book.body %></p>



<!--editとdestroy-->
 <span>
    <% if @book.user == current_user %>
    <%= link_to "Edit",edit_book_path(@book) %>
    <% end %>
  </span>

  <span>
    <% if @book.user == current_user %>
    <%= link_to "Destroy",book_path(@book), method: :delete %>
    <% end %>
  </span>
  
 