books show(/books/book_id)

<h1>Books</h1>
<p><%= image_tag @user.get_profile_image(100,100) %></p>
<p><%= @user.name %></p>
<h2>title</h2>
<p><%= @book.title %></p>

<h2>body</h2>
<p><%= @book.body %></p>



<!--editã¨destroy-->
 <span>
    <% if @book.user == current_user %>
    <%= link_to "Edit",edit_book_path(@book) %>
    <% end %>
  </span>

  <span>
    <% if @book.user == current_user %>
    <%= link_to "Destroy",book_path(@book), method: :delete %>
    <% end %>
  </span>