<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!--FontAwesomeの導入-->
    <script src="https://kit.fontawesome.com/79ea4db2fa.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
      <h1>Bookers</h1>
      
      <!--ログインしている場合-->
      <% if user_signed_in? %>
      
      <%= link_to user_path(current_user) do %>
        <i class="fa-solid fa-house"></i>Home
      <% end %>
      
      <%= link_to users_path do %>
        <i class="fa-solid fa-users"></i>Users
      <% end %>
      
       <%= link_to books_path do %>
        <i class="fa-solid fa-book"></i>Books
      <% end %>
      
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa-solid fa-right-from-bracket"></i>Log out
      <% end %>
        
      <% else %>
      <!--ログインしていない場合-->
       <%= link_to root_path do %>
        <i class="fa-solid fa-house"></i>Home
       <% end %>
        
       <%= link_to about_path do %>
         <i class="fa-solid fa-paperclip"></i>About
       <% end %>
        
        <%= link_to new_user_registration_path do %>
         <i class="fa-solid fa-user-plus"></i>Sign up
        <% end %>
        
        <%= link_to new_user_session_path do %>
         <i class="fa-solid fa-right-to-bracket"></i>Log in
        <% end %>
       
      <% end %>
      </div>
    </header>
    
    <%= yield %>
    <footer>
      <div class="container mt-5">
       <div class="row">
        <div class="mx-auto">
         <p>CopyRight Infratop.inc</p>
        </div>
       </div>
      </div>
    </footer>
  </body>
</html>
